@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  height: 100%;
  font-family: "inter", sans-serif;
  background-color: #7680fc;
}

.inter-light {
    font-weight: 300;
}

main {
  background-color: #7680fc;
  height: 100%;
}

.logo {
  /* width: clamp(100px, 2vw, 4.5rem);
  height: auto; */
  display: block;
  max-width: 100%;
}

.div-back {
  width: 100vw;
  position: relative;
}

.btn-logar {
  border-radius: 38px;
  background-color: #ffdb9d;
  width: max-content;
  min-width: max-content;
  font-size: 16px;
}

.btn-logar span {
  padding-left: 3%;
  padding-right: 3%;
}

.btn-logar:hover {
  background-color: #eecd95;
}

.div-base {
  top: 63%;
  position: absolute;
}

#img-base {
  position: relative;
  /* display: block; */
}
.text-overlay {
  position: absolute;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 200;
  color: white;
  font-size: clamp(1.5rem, 3vw, 4.5rem);
  pointer-events: none;
}

.link-entrar {
  position: absolute;
  text-decoration: none;
  top: 70%;
  font-size: 15px;
}

.btn-img {
  position: absolute;
  border-radius: 38px;
  width: max-content;
  height: 25%;
  min-width: 10%;
  font-size: 15px;
  top: 30%;
}

.btn-img strong {
  padding-right: 50px;
  padding-left: 50px;
}

.btn-img:hover {
  background-color: white;
}

.mockups-div {
  margin-top: 100px;
  width: 100%;
  overflow: hidden;
  justify-content: center;
}

.carousel-images {
  width: 100%;
  position: relative;
}

.carousel-slide img {
  position: relative;
  width: 30%;
}

.carousel-slide img.prev {
  right: -3%;
}

.carousel-slide img.next {
  left: -3%;
}

.carousel-slide img.active {
  z-index: 1000;
  width: 35%;
}

.text-mockup {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 200;
  color: white;
  font-size: clamp(1.5rem, 2vw, 4rem);
}
/* Modal de Cadastro */
.modal-cadastro {
  border-radius: 15px !important;
  height: 100%;
  font-family: "inter", sans-serif;
  background-color: #f1f5f9;
}

/* Modal de Login */
.modal-login {
  border-radius: 15px !important;
  height: 100%;
  font-family: "inter", sans-serif;
  background-color: #f1f5f9;
}
.nav-tabs {
  border-bottom: 0px solid transparent;
  color: black;
}

.nav-tabs .nav-link {
  position: relative;
  margin-bottom: -1px;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 2px solid #b4bbc3;
  color: black;
}

.nav-tabs .nav-link > i {
  color: rgba(10, 39, 112, 0.5);
}

.nav-tabs .active > i {
  color: #0a2770;
}

.nav-tabs .nav-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav-tabs .nav-link.active::after {
  background-color: black;
  height: 3px;
}

.nav-item .active {
  font-weight: 800;
  background-color: transparent !important;
}

.modal-header,
.modal-body {
  border-bottom: none;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
  /* width: 50%; */
}

.input-container > input {
  padding-left: 40px;
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
}

.input-icon {
  position: absolute;
  left: 15px;
}

.btn-entrar {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: #0a2770;
  color: white;
  font-weight: bold;
}

.btn-entrar:hover {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: #0a1e53;
  color: white;
  font-weight: bold;
}

.btn-cadastrar {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: rgba(10, 39, 112, 0.5);
  color: white;
  font-weight: bold;
}

.btn-cadastrar:hover {
  height: 60px;
  border-radius: 30px;
  box-shadow: none !important;
  background-color: rgba(15, 36, 90, 0.669);
  color: white;
  font-weight: bold;
}

.esqueci-senha {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.53);
  font-weight: normal;
  font-size: 16px;
}

.card {
    border-radius: 15px;
}

.card-header {
    font-size: 1.4rem;
}

.list-group li {
    font-size: 0.8rem;
}

.carousel-control-prev, .carousel-control-next {
  z-index: 10;
}
.carousel-control-prev {
  left: -15%;
}
.carousel-control-next {
  right: -15%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.down-footer {
  background-color: #ffdb9d;
  color: black;
}

/* Sidebar */

#sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0a2770;
  overflow-x: hidden;
  transition: width 0.3s;
  align-items: center;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}
#sidebar.expanded {
  width: 200px;
}
#sidebar.expanded #toggle-btn {
  color: white;
}
#sidebar .nav-link {
  color: #ffffff;
  text-align: center;
  width: 100%;
}
#sidebar .nav-link:hover {
  background-color: #0a1e53;
}
.sidebar-icon {
  font-size: 30px;
  margin: 15px 0;
}
#toggle-btn {
  font-size: 24px;
  cursor: pointer;
  color: white;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}
.nav-items {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.bottom-item {
  margin-top: auto;
}

.btn-primary {
  border-radius: 20px;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .btn-logar {
    height: 2.5rem;
  }

  .btn-logar span {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
  }
}

@media (min-width: 1400px) {
}
